@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #fcf3f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.extra-info {
  justify-content: flex-end;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.extra-info-card {
  display: flex;
  width: 120px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.forecast-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  padding: 30px;
}

input[type="search"] {
  border: 1px solid;
  width: 350px;
  padding: 10px;
  border-radius: 10px;
}

.lang-select {
  height: fit-content;
  width: 80px;
  border-radius: 10px;
  padding: 10px;
}

.current-weather {
  display: flex;
  gap: 10px;
  align-items: center;
}

.location-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loading {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.overview-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weather-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}

@media (max-width: 1230px) {
  .weather-info{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.flex {
  display: flex;
}
.suggestion-box{
  position: absolute;
  display: flex;
  overflow: auto;
  flex-direction: column;
  margin-top: 5px;
  background-color: #ffffff;
  max-height: 500px;
  width: 350px;
}

.suggestion-box p{
  padding: 10px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #000000;
}

.suggestion-box p:hover{
  background-color: aqua;
}

.items-center {
  align-items: center;
}
.past-hrs {
  display: flex;
  text-align: center;
  gap: 5px;
  justify-content: space-between;
  margin-top: 30px;
}

@media (max-width: 640px) {

  .past-hrs{
    overflow: auto;
  }

  input[type="search"] {
    width: 100%;

  }
  
}




.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  height: fit-content;
  border-radius: 30px;
}

.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
